body
{
    background-color: #171515;
    font-family: 'Inter';
    color: white;
    text-align: center;
    font-size: 32;
	overflow: hidden;
}

#title
{
    font-size: 40px;
    text-shadow: 0px 1px 2px black;
}

#logo
{
    position: relative;
    top: 40px;
}

#loginDiv
{
    display: block;
    background-color: #A41919;
    padding: 15px 0 15px 0;
    border-radius: 8px;
}

#boxBg
{
    display: block;
    background-color: #D9D9D9;
    margin: 0 20% 0 20%;
    padding: 20px 20px 20px 20px;
    height: 60vh;
    overflow: auto;
}

#loginboxBg
{
    display: block;
    background-color: #D9D9D9;
    margin: 0 20% 0 20%;
    padding: 20px 20px 20px 20px;
    overflow: auto;
}

input[type="text"],input[type="password"]
{
    border-radius: 25px;
    text-align: center;
    width: 80%;
    margin: 1% 0 1% 0;
    font-size: 24px;
}

.primaryButton
{
    display: block;
    background-color: #000000;
    color:#D9D9D9;
    border-radius: 10px;
    padding: 15 20 15 20;
    text-align: center;
    text-decoration: none;
    font-family: 'Inter';
    font-size: 24px;
    margin: auto;
    transition: ease .5s;
}

.primaryButton:hover
{
    background-color: #D9D9D9;
    color:#A41919;
    outline: solid #A41919;
}

.secondaryButton
{
    display: block;
    background-color: #000000;
    color:#ffffff;
    outline: solid #555555;
    border-radius: 10px;
    padding: 15 20 15 20;
    text-align: center;
    text-decoration: none;
    font-family: 'Inter';
    font-size: 24px;
    transition: ease .5s;
}

.secondaryButton:hover
{
    background-color: #555555;
    color: #D9D9D9;
    outline: solid #000000;
}


#tableHead
{
    text-align: center;
    border: 2px solid #A41919;
    border-radius: 0;
    margin: 0 20% 0 20%;
    background-color: #A41919;
}

.boxButton
{
    background-color: #A41919;
    color: white;
    padding: 10;
    border-radius: 0px;
    border: none;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Inter';
    /*outline: 6px solid #A41919;*/
    transition: ease 180ms;
    width: 19vh;
    height: 100%;
}

.boxButton:hover
{
    background-color: #D9D9D9;
    color: #A41919;
}

#search
{
    border-radius: 0%;
    outline: 6px solid #A41919;
    width: 100%;
}

.contactEntry
{
    display: block;
    background-color: #A41919;
    padding: 5 10;
    border-radius: 8px;
    text-align: left;
    font-size: 24px;
    margin: 5 0;
    position: relative;
}

.contactName
{
    font-weight: bold;
    font-size: 28px;
}

table
{
    width: 100%;
}

.editButton
{
    color:white;
    background-color: #171515;
    border: 2px black;

    padding: 20px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Inter';
    transition: ease 180ms;

    position: relative;
    float: right;
    bottom: 30px;
}

.editButton:hover
{
    color:#171515;
    background-color: white;
    border: 2px black;
}

